.warna-kostum-like {
    color: #957dad;
}

/*------- billboard --------*/
.stretch-card > .coba {
    width: 100%;
    min-width: 100%;
    height: 50%;
    position: relative;
}

.try {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/*------- scrollbar --------*/
.scroll {
    position: relative;
    overflow-y: scroll;
    height: 50vh;
}

.scrollbar-down::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #957dad;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 10px 0px;
    list-style: none;
    scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
    height: 6px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
    background: #957dad;
}

.cards::-webkit-scrollbar-track {
    background: #eaeaea;
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(20% - 10px);
        grid-column-gap: 11px;
    }
}
