.coba {
    width: 90%;
    padding-top: 90%;
    position: relative;
    overflow: hidden;
}

.coba img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.bottom-left-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.divider {
    border: none;
    border-top: 2px solid #6d6d6d;
    margin: 20px 0;
}

.scroll {
    position: relative;
    overflow-y: scroll;
    height: 50vh;
}

.scrollbar-down::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #957dad;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.warna-kostum-like {
    color: #957dad;
}

.cardcostum {
    background-color: #ffffff;
}

#popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}

.window {
    background-color: #ffffff;
    width: 500px;
    border-radius: 10px;
    position: relative;
    margin: 9% auto;
    padding: 10px;
}

.close-button {
    display: block;
    color: #957dad;
    position: absolute;
    top: 10px;
    right: 10px;
}

input {
    display: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.upload-label i {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-i {
    height: 25px;
    border-radius: 8px;
}

#popup:target {
    visibility: visible;
}

.warna-kostum-like {
    color: #957dad;
}
