.coba {
  width: 100%;
  height: 45%;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.billboard {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: center center;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.billboard:hover {
  opacity: 1;
}

.bottom-left {
  position: absolute;
  bottom: 16%;
  left: 16px;
  z-index: 2;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 10px;
  height: 10px;
}

.carousel-control-prev {
  top: 70%;
  left: 85%;
  right: auto;
}

.carousel-control-next {
  top: 70%;
  right: 16px;
  left: auto;
}

.datakiri {
  position: relative;
  overflow-y: scroll;
  height: 420px;
}

.datakanan {
  position: relative;
  overflow-y: scroll;
  height: 180px;
}

.scrollbar-down::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #957dad;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.warna-kostum-like {
  color: #957dad;
}

/*------ untuk scroll gambar -------*/

.cardi {
  height: 200px; /* Atur tinggi sesuai kebutuhan */
  margin: 0; /* Hapus margin */
  padding: 0; /* Hapus padding */
  overflow: hidden; /* Hindari tampilan gambar yang keluar dari batas tinggi */
}


.card-scroll {
  scroll-snap-align: start;
  transition: all 0.2s;
}

.cards {
  display: grid;
  grid-auto-columns: 100%;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  padding: 10px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
  height: 6px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background: #957DAD;
}

.cards::-webkit-scrollbar-track {
  background: #eaeaea;
}

@media (min-width: 500px) {
  .cards {
    grid-auto-columns: calc(50% - 10px);
    grid-column-gap: 20px;
  }
}

@media (min-width: 700px) {
  .cards {
    grid-auto-columns: calc(calc(100% / 3) - 20px);
    grid-column-gap: 30px;
  }
}

@media (min-width: 1100px) {
  .cards {
    grid-auto-columns: calc(20% - 10px);
    grid-column-gap: 11px;
  }
}


.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}