
.stretch-card > .coba {
    width: 100%;
    min-width: 100%;
    height: 100%;
    position: relative;
}

.try {
    width: 100%;
    height: 55%;
    object-fit: cover;
}

.card-content {
    position: relative;
    padding: 15px;
}

/*------ untuk scroll gambar -------*/
.card-scroll {
    scroll-snap-align: start;
    transition: all 0.2s;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 10px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
    height: 6px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
    background: #957dad;
}

.cards::-webkit-scrollbar-track {
    background: #eaeaea;
}

@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}

@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}

@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(20% - 10px);
        grid-column-gap: 11px;
    }
}

.kotaktetap {
    width: 100%; /* Ganti dengan lebar yang Anda inginkan */
    height: 150px; /* Ganti dengan tinggi yang Anda inginkan */
    overflow: hidden;
    border-radius: 10px;
}

.kotaktetap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
