.table-container {
    max-width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-row {
    display: flex;
    align-items: center;
    /* Vertically center align content */
    justify-content: space-between;
    /* Horizontally distribute content */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #eaeaea;
}

.table-cell {
    flex: 1;
    padding-left: 60px;
    text-align: left;
    word-wrap: break-word;
}


.table-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #957dad;
    color: white;
}

.table-cell h6, .table-cell p {
    max-width: 300px;
    word-wrap: break-word;
}

.table-cell h6, .table-cell p {
    white-space: normal;
}

.table-cell h6,
.table-cell p {
    background-color: inherit;
    margin: 0;
    padding: 5px 0;
}



.table-container {
    margin-bottom: 20px;
}

.table-sortable th {
    cursor: pointer;
    border-radius: 10px;
}

/* CSS untuk styling pagination */
.pagination {
    margin-top: 20px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 10px;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
}

.page-link.active {
    background-color: #957DAD;
    border: 1px solid #957DAD;
}

.pagination li.active a {
    color: #fff;
}

.pagination li:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(199,199,199,1);
}

table.dataTable>tbody>tr {
    background-color: #eaeaea;

    /* untuk data tidak ada */
    display: flex;
    justify-content: center;
}