.coba {
    background-color: #fff;
    border: 3px solid #957DAD;
}

.coba:hover {
    background-color: #ECECEC;
    border: 3px solid #ECECEC;
}


.image-container {
    width: 140px; /* Set a fixed width */
    height: 140px; /* Set a fixed height */
    overflow: hidden; /* Hide any overflow if the image exceeds the container size */
}

.avatar {
    width: 100%; /* Make the image width 100% of the container */
    height: auto; /* Allow the height to adjust proportionally based on the image's aspect ratio */
    border-radius: 0;
}

/* Limit the number of words and add ellipsis for overflow */
.clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px; /* Adjust this to control the maximum height */
}

.cell-content {
    display: flex;
    align-items: center;
}


.coba .fa-circle-play {
    display: none;
}

.divider {
    border-top: 3px solid #957DAD;
    margin-top: 2px;
    margin-bottom: 3%;
}

hr {
    opacity: 1;
}

/*------ untuk scroll kebawah -------*/
.scroll {
    position: relative;
    overflow-y: scroll;
    height: 50vh;
}

.scrollbar-down::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #957DAD;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.warna-kostum-like {
    color: #957DAD;
}