@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
    height: 5rem;
    width: 100%;
    padding: 3.5em;
}

#controls {
    display: flex;
    align-items: center;
    gap: 3em;
}

#controls button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
}

.durasi {
    color: #957dad;
}

/* button .fa,
.far {
    color: #957dad;
}

.far {
    font-size: 30px;
}

.fa-volume-up:before {
    content: "\f028";
    color: #957dad;
}

.fa-heart:before {
    content: "\f004";
    font-size: 16px;
    padding-left: 20vh;
    vertical-align: 25px;

} */
.fa-play-circle:before {
    content: "\f144";
    font-size: 39px;
    color: #957dad;
}

button .fa,
.fr {
    color: #957dad;
}

.fr {
    font-size: 39px;
}

.vu:before {
    content: "\f028";
    color: #957dad;
}

.fh:before {
    content: "\f004";
    font-size: 16px;
    padding-left: 20vh;
    vertical-align: 25px;

}


#artist {
    color: #6c6c6c;
    font-size: 15px;
}

#title {
    color: #6c6c6c;
    font-size: 20px;
}

.volume {
    position: relative;
    height: 100%;
    width: 200px;
    border-radius: 10px;
    accent-color: #957dad;
}

.song-description {
    height: 60px;
    width: 100%;
}

.progress {
    accent-color: #957dad;
}

#volume_show {
    color: #957dad;
    margin-top: 15px;
}

.volume-bar {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 10px;
}

.duration {
    background-color: #d9d9d9;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%;
    margin-bottom: 40px;
}

.text-group {
    display: flex;
}

.text-group p {
    margin-bottom: 0;
}



* {
    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 13px;
}

i{
    color: var(--secondary-color);
}
i:hover{
    color: #957dad;
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container1 {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;

}
#title,
#artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
#title:hover,
#artist:hover {
    text-decoration: underline;
}
#artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    border-radius: 10px;
    width: 30%;
}
.progress{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    accent-color: #957dad;

}
.volume{
    position: relative;
    height: 100%;
    width: 200px;
    border-radius: 10px;
    accent-color : #957dad;
}

.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 10px;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}

#track_image {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: fixed;
}

#lagu-diputar {
    position: fixed;
    bottom: 0;
    z-index: 14;
    visibility: hidden;
}


#lagu-diputar:target {
    visibility: visible;
}