/*---- style untuk atas ----*/
    /* Gaya CSS untuk logo */
    .logo {
        width: 400px;
        height: auto;
      }
  
      .coba {
        padding: 5px 10px 5px 10px;
      }
  
      .angka {
        color: #A86C93;
        font-weight: 500;
        display: inline-block;
      }
  
      .ikon {
        float: right;
        /* Menggeser ikon ke sisi kanan */
        color: #957DAD;
      }
  
      /*---- style untuk table ----*/
  
      .table-body {
        padding: 20px;
      }
  
      .table-container {
        max-width: 100%;
        overflow-x: auto;
      }
  
      .table {
        width: 100%;
        border-spacing: 0;
      }
  
      .table-row {
        margin-bottom: 10px;
        background-color: #eaeaea;
        overflow: hidden;
      }
  
      .table-cell {
        flex: 1;
        padding-left: 10%;
        text-align: left;
        padding: 10px;
      }
  
      .table-header {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
      }
  
      .avatar {
        width: 40px;
        margin-right: 10px;
      }
  
      .table td img {
        border-radius: 0;
      }
  
      .cell-content {
        display: flex;
        align-items: center;
      }
  
      .table-cell h6,
      .table-cell p {
        margin: 0;
        padding: 5px 0;
      }
  
      .table-container {
        margin-bottom: 20px;
      }
  
      /*---- style untuk header dengan border lengkung ----*/
      .headerlengkung th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
  
      .headerlengkung th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }