 /*---- style untuk button ----*/
 .full-width-btn {
    width: 100%;
    height: 40px;
}

/*---- style untuk table ----*/

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.table-cell {
    flex: 1;
    padding-left: 10%;
    text-align: left;
    padding: 10px;
}

.table-header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.avatar {
    width: 40px;
    margin-right: 10px;
    border-radius: 0;
}

.table td img {
    border-radius: 0;
}

.cell-content {
    display: flex;
    align-items: center;
}

.table-cell h6,
.table-cell p {
    margin: 0;
    padding: 5px 0;
}

.table-container {
    margin-bottom: 20px;
}


/*---- style untuk button icon ----*/
.btnicon {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.btnicon:hover {
    border: none;
}

/*------- scrollbar --------*/
/*---- style untuk dropdown ----*/

.dropdown-menu-scroll {
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #dad9d9;
}

.scrollbar-down::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #957DAD;
}

/* Jendela Pop Up */
#popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}

#popup .card-body {
    padding: 10px 7% 10px 7%;
}

.window {
    background-color: #ffffff;
    width: 500px;
    border-radius: 10px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
}

/* Button Close */
.close-button {
    display: block;
    color: #957DAD;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Memunculkan Jendela Pop Up*/
#popup:target {
    visibility: visible;
}