 /*---- style untuk atas ----*/
 .coba {
    padding: 5px 10px 5px 10px;
}

.angka {
    color: #A86C93;
    font-weight: 500;
}

.iconatas {
    display: block;
    color: #957DAD;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*---- style untuk button ----*/
.full-width-btn {
    width: 100%;
    height: 40px;
}

/*---- style INTI untuk table ----*/

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-row {
    display: flex;
    align-items: center;
    /* Vertically center align content */
    justify-content: space-between;
    /* Horizontally distribute content */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #eaeaea;
    padding: 10px 0;
}

.table-cell {
    flex: 1;
    padding-left: 60px;
    text-align: left;
}

.table-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #957dad;
    color: white;
}

.table-cell h6,
.table-cell p {
    background-color: inherit;
    margin: 0;
    padding: 5px 0;
}
.avatar {
    width: 40px;
    margin-right: 10px;
    border-radius: 0;
}

.table td img {
    border-radius: 0;
}

.cell-content {
    display: flex;
    align-items: center;
}

.table-cell h6,
.table-cell p {
    margin: 0;
    padding: 5px 0;
}

/* CSS untuk mengunci header tabel */
.table-container {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: #957dad;
    color: white;
    z-index: 1;
}

.table-sortable th {
    cursor: pointer;
    border-radius: 10px;
}

/*---- style untuk button icon ----*/
.btnicon {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.btnicon:hover {
    border: none;
}

/*---- style untuk dropdown ----*/

.dropdown-menu-scroll {
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #dad9d9;
}

.scrollbar-down::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

.scrollbar-down::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #957DAD;
}

/* CSS untuk styling pagination */
.pagination {
    margin-top: 20px;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 10px;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
}

.page-link.active {
    background-color: #957DAD;
    border: 1px solid #957DAD;
}

.pagination li.active a {
    color: #fff;
}

.pagination li:hover {
    background-color: #ddd;
}

.pagination li:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(199,199,199,1);
}

table.dataTable>tbody>tr {
    background-color: #eaeaea;

    /* untuk data tidak ada */
    display: flex;
    justify-content: center;
}