 /* Style dropdown sidebar--Mengatur tampilan menu dropdown */
.menu-items .nav-link {
    position: relative;
}

.menu-arrow {
    color: inherit;
    position: absolute;
    left: 185px;
    top: 185px;
    transform: translateY(-50%);
}

 /*---- style untuk atas ----*/
  .coba {
    padding: 5px 10px 5px 10px;
}

.angka {
    color: #A86C93;
    font-weight: 500;
}

.iconatas {
    display: block;
    color: #957DAD;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*---- style untuk button ----*/
.full-width-btn {
    width: 100%;
    height: 35px;
}

/*---- style untuk table ----*/

.table-body {
    padding: 20px;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table-row {
    margin-bottom: 10px;
    background-color: #eaeaea;
    overflow: hidden;
}

.table-cell {
    flex: 1;
    padding-left: 10%;
    text-align: left;
    padding: 10px;
}

.table-header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.avatar {
    width: 40px;
    margin-right: 10px;
    border-radius: 50px;
}

.cell-content {
    display: flex;
    align-items: center;
}

.table-cell h6,
.table-cell p {
    margin: 0;
    padding: 5px 0;
}

.table-container {
    margin-bottom: 20px;
}

/*---- style untuk header dengan border lengkung ----*/
.headerlengkung th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.headerlengkung th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*---- style untuk button icon ----*/
.btnicon {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.btnicon:hover {
    border: none;
}

/* Jendela Pop Up */
#popup- {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;
}

#popup- .card-body {
    padding: 10px 7% 10px 7%;
}

.window {
    background-color: #ffffff;
    width: 500px;
    border-radius: 10px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
}

.close-button {
    display: block;
    color: #957DAD;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Memunculkan Jendela Pop Up*/
#popup-:target {
    visibility: visible;
}
